### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are users-specific
*.sublime-workspace

# project files should be checked into ƒthe repository, unless a significant
# proportion of contributors will probably not be using SublimeText
# *.sublime-project

# Magic Index
.magicindex.json

# sftp configuration file
sftp-config.json

# Basics
*.py[cod]
__pycache__

# Logs
logs
*.log
pip-log.txt
npm-debug.log*

# Unit test / coverage reports
.coverage
.tox
coverage_report/html
coverage.xml
report_unittest.xml
nosetests.xml
htmlcov

# Translations
*.pot

# Pycharm
.idea/*

*~
*.swp
*.swo

# npm
node_modules/
dist/



# Compass
.sass-cache

# Custom environments
.env
config/settings/local_develop.py

# User-uploaded media
gesco/labo/media/
media_test

# Magic Index
*.magicindex.json

staticfiles/

.angulardoc.json
.vscode/*
/JetBrains.Dockerfile

.cache/
.pytest_*
pytest-local.ini
angular/coverage/
angular/src/app/coverage/
*backup_*

# tests
djangoreport
docker-djangotest.yml
docker-cypresstest.yml
cypressReports
cypressScreenshots
cypressVideos

# sonar
.scannerwork
.sonar
sonar-cache
sonar-scanner
venv/

# deploy
compose/nginx/nginx-ci.conf

# Angular environment
environment.prod.ts
environment.ts