<h1 class="title">About us</h1>
<div class="container">
  <div class="columns is-mobile is-centered">
    <div class="column is-half">
      <div class="card">
        <div class="card-content">
          We are two mad developers that like doing side projects.
          <br />
          This CNFT Projects showroom aims to show the world the wonders of NFTs
          on Cardano.
          <br />
          For each project release we plan on creating and specific page with
          statistics, news, etc.
          <br />
          If you have a CNFT project that is not listed, contact us and we will
          have a look and see if we can add it!
        </div>
        <footer class="card-footer">
          <a
            href="mailto://enpimony@gmail.com"
            target="_blank"
            class="card-footer-item"
            ><i class="fab fa-envelope"></i>enpimony@gmail.com</a
          >
        </footer>
      </div>
    </div>
  </div>
</div>
