<div class="card">
	<div class="card-image">
		<figure class="image is-3by1">
			<img src="{{project.banner}}" alt="{{ project.name }} banner">
		</figure>
	</div>
	<div class="card-content">
		<div class="media">
			<div class="media-left">
				<figure class="image is-48x48">
					<img src="{{project.avatar}}" alt="{{ project.name }} avatar">
				</figure>
			</div>
			<div class="media-content">
				<p class="title is-4">{{project.name}}</p>
				<p class="subtitle is-6">@{{project.twitter}}</p>
			</div>
		</div>

		<div class="content">
<!--			<div class="tags has-addons">-->
<!--				<span class="tag is-dark">Status</span>-->
<!--				<span class="tag is-success" *ngIf="project.status === STATUS_RELEASED">Released</span>-->
<!--				<span class="tag is-info" *ngIf="project.status === STATUS_IN_PROGRESS">In progress</span>-->
<!--				<span class="tag is-light" *ngIf="project.status === STATUS_TO_RELEASE">Pending</span>-->
<!--			</div>-->
			<ng-container *ngIf="project.webpage">
				<a href="{{project.webpage}}">Official web</a>
				<br>
			</ng-container>
			<time>{{project.lastUpdated}}</time>
		</div>
	</div>
	<footer class="card-footer">
		<span class="card-footer-item is-success" *ngIf="project.status === STATUS_RELEASED">Released</span>
		<span class="card-footer-item is-info" *ngIf="project.status === STATUS_IN_PROGRESS">In progress</span>
		<span class="card-footer-item is-light" *ngIf="project.status === STATUS_TO_RELEASE">Pending</span>
		<a href="https://twitter.com/{{project.twitter}}" class="card-footer-item" *ngIf="project.twitter"><i
				class="fab fa-twitter"></i></a>
		<a href="{{project.facebook}}" class="card-footer-item" *ngIf="project.facebook"><i class="fab fa-facebook"></i></a>
		<a href="{{project.instagram}}" class="card-footer-item" *ngIf="project.instagram"><i class="fab fa-instagram"></i></a>
		<a href="{{project.discord}}" class="card-footer-item" *ngIf="project.discord"><i class="fab fa-discord"></i></a>
		<a href="{{project.telegram}}" class="card-footer-item" *ngIf="project.telegram"><i class="fab fa-telegram"></i></a>
		<a href="{{project.youtube}}" class="card-footer-item" *ngIf="project.youtube"><i class="fab fa-youtube"></i></a>
	</footer>
</div>
